/*a div estava muito apertada e não cabiam os dois botões, então aumentei a largura dela para 800px.*/
.divMae{
    width: 800px;
}

/*mudei a fonte do subtitulo*/
h2{
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    color: #454545;
}

button{
    margin: 10px;
    background-color: #46F2C5;
    color: #454545;
}

/*deixei o input com as bordas arredondadas*/
input{
    border-radius: 10px;
    width: 100%;
    max-width: 300px;
    padding: 12px;
    background-color: #D9F5EB;
    color: #454545;
    margin: 40px;
}

/*layout de cada tarefa mais largo*/
li {
    display: flex;
    align-items: center;
    gap: 10px;
    padding: 8px 12px;
    margin: 8px;
    border-radius: 6px;
}

/*checkbox amarelo*/
li input[type="checkbox"] {
    accent-color: #F2C646; 
    width: 16px;
    height: 16px;
    margin-right: 8px;
}

/*sem o flex-grow o texto não risca*/
li span {
    flex-grow: 1;
    color: #454545;
}

/*é o que de fato risca o texto*/
.concluida {
    text-decoration: line-through;
}

li button {
    padding: 6px 12px;
    color: #454545;
    border-radius: 6px;
}
